- var page = 'netplay'

doctype html
html(lang="zh-CN")
  
  head
    include ../inc/meta

    include ../inc/ogp
    +ogp('电脑麻将: 联网对战', '基于 WebSocket 运行的麻将服务器', 
          'https://kobalab.net/majiang/img/netplay.png')

    include ../inc/style
    script(src="server/socket.io/socket.io.js" defer)
    include ../inc/script
  
  body.title
    include ../inc/loaderr
    include ../inc/navi
    include ../inc/title
    include ../inc/loaddata

    include ../inc/file
    include ../inc/stat
    include ../inc/room
    include ../inc/board
    .version ver. #{version}
