.controller
  img.exit(src="img/icon-exit.png" title="退出 [q]")
  img.summary(src="img/icon-list.png" title="显示统计 [?]")
  img.sound.on(src="img/icon-volume-up.png" title="关闭声音 [a]")
  img.sound.off(src="img/icon-mutealt.png" title="开启声音 [a]")
  img.analyzer(src="img/icon-lightbulb-idea.png" title="分析开/关 [i]")
  img.export(src="img/icon-export.png" title="天凤牌谱 [t]")
  div
  img.first(src="img/icon-step-backward.png" title="配牌/上一局 [←]")
  img.prev(src="img/icon-backward.png" title="后退 [↑]")
  img.play.on(src="img/icon-play.png" title="继续 [space]")
  img.play.off(src="img/icon-pause.png" title="暂停 [space]")
  img.next(src="img/icon-forward.png" title="前进 [↓]")
  img.last(src="img/icon-step-forward.png" title="结果/下一局 [→]")

  .speed
    img.minus(src="img/icon-minus-sign.png" title="速度- [-]")
    span
    span
    span
    span
    span
    img.plus(src="img/icon-plus-sign.png" title="速度+ [+]")
