#loaddata.
  <img class="pai" data-pai="m1" src="img/m1.gif" alt="一万">
  <img class="pai" data-pai="m2" src="img/m2.gif" alt="二万">
  <img class="pai" data-pai="m3" src="img/m3.gif" alt="三万">
  <img class="pai" data-pai="m4" src="img/m4.gif" alt="四万">
  <img class="pai" data-pai="m5" src="img/m5.gif" alt="五万">
  <img class="pai" data-pai="m6" src="img/m6.gif" alt="六万">
  <img class="pai" data-pai="m7" src="img/m7.gif" alt="七万">
  <img class="pai" data-pai="m8" src="img/m8.gif" alt="八万">
  <img class="pai" data-pai="m9" src="img/m9.gif" alt="九万">
  <img class="pai" data-pai="m0" src="img/m0.gif" alt="红五万">
  <br>
  <img class="pai" data-pai="p1" src="img/p1.gif" alt="一筒">
  <img class="pai" data-pai="p2" src="img/p2.gif" alt="二筒">
  <img class="pai" data-pai="p3" src="img/p3.gif" alt="三筒">
  <img class="pai" data-pai="p4" src="img/p4.gif" alt="四筒">
  <img class="pai" data-pai="p5" src="img/p5.gif" alt="五筒">
  <img class="pai" data-pai="p6" src="img/p6.gif" alt="六筒">
  <img class="pai" data-pai="p7" src="img/p7.gif" alt="七筒">
  <img class="pai" data-pai="p8" src="img/p8.gif" alt="八筒">
  <img class="pai" data-pai="p9" src="img/p9.gif" alt="九筒">
  <img class="pai" data-pai="p0" src="img/p0.gif" alt="红五筒">
  <br>
  <img class="pai" data-pai="s1" src="img/s1.gif" alt="一索">
  <img class="pai" data-pai="s2" src="img/s2.gif" alt="二索">
  <img class="pai" data-pai="s3" src="img/s3.gif" alt="三索">
  <img class="pai" data-pai="s4" src="img/s4.gif" alt="四索">
  <img class="pai" data-pai="s5" src="img/s5.gif" alt="五索">
  <img class="pai" data-pai="s6" src="img/s6.gif" alt="六索">
  <img class="pai" data-pai="s7" src="img/s7.gif" alt="七索">
  <img class="pai" data-pai="s8" src="img/s8.gif" alt="八索">
  <img class="pai" data-pai="s9" src="img/s9.gif" alt="九索">
  <img class="pai" data-pai="s0" src="img/s0.gif" alt="红五索">
  <br>
  <img class="pai" data-pai="z1" src="img/z1.gif" alt="东">
  <img class="pai" data-pai="z2" src="img/z2.gif" alt="南">
  <img class="pai" data-pai="z3" src="img/z3.gif" alt="西">
  <img class="pai" data-pai="z4" src="img/z4.gif" alt="北">
  <img class="pai" data-pai="z5" src="img/z5.gif" alt="白">
  <img class="pai" data-pai="z6" src="img/z6.gif" alt="发">
  <img class="pai" data-pai="z7" src="img/z7.gif" alt="中">
  <img class="pai" data-pai="_" src="img/pai.gif" alt="">
  <br>
  <audio data-name="dapai" src="audio/dahai11.wav" volume="0.2" preload></audio>
  <audio data-name="chi" src="audio/chii.wav" volume="0.2" preload></audio>
  <audio data-name="peng" src="audio/pon.wav" volume="0.2" preload></audio>
  <audio data-name="gang" src="audio/kan.wav" volume="0.2" preload></audio>
  <audio data-name="rong" src="audio/ron.wav" volume="0.2" preload></audio>
  <audio data-name="zimo" src="audio/tsumo.wav" volume="0.2" preload></audio>
  <audio data-name="lizhi" src="audio/richi.wav" volume="0.2" preload></audio>
  <audio data-name="gong" src="audio/nc43994.wav" volume="1" preload></audio>
  <audio data-name="beep" src="audio/beep.wav" volume="0.2" preload></audio>
