.score
  .juchang
    .jushu
    .jicun
      img.chouma(src="img/100.gif" alt="本场")
      |  : 
      span.changbang
      br
      img.chouma(src="img/1000.gif" alt="供托")
      |  : 
      span.lizhibang
  .shan
    .baopai
    div
      | 剩余牌数: 
      span.paishu
  .defen
    .main
    .xiajia
    .duimian
    .shangjia
